[Unit]
Description=Remove all but the most recent core dump
RequiresMountsFor=/var/lib/systemd/coredump

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/az01-clean-coredumps

[Install]
WantedBy=multi-user.target
