[Unit]
Description=Create /media/az01-internal filesystem if necessary
DefaultDependencies=no
Conflicts=shutdown.target
Requires=dev-disk-by\x2dpartuuid-931ad49d\x2dad59\x2d0849\x2d833a\x2d9bf00af5b60e.device
After=dev-disk-by\x2dpartuuid-931ad49d\x2dad59\x2d0849\x2d833a\x2d9bf00af5b60e.device
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/az01-internal-mkfs
