[Unit]
Description=Engine
After=touch-fw-update.service xmos-update.service

[Service]
Type=forking
ExecStart=/usr/Engine/Scripts/runengine
ExecStopPost=/usr/Engine/Scripts/cleanup
PIDFile=/tmp/engine.pid
Restart=on-failure
TimeoutStopSec=30
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
