[Unit]
Description=Writable /etc via OverlayFS
DefaultDependencies=no
Requires=overlayfs-setup.service
Conflicts=umount.target
After=overlayfs-setup.service
Before=local-fs.target umount.target

[Mount]
What=overlay
Where=/etc
Type=overlay
# NOTE: If you change the paths here, they *must* also change in
#       /etc/az01/overlayfs.conf.
Options=lowerdir=/etc,upperdir=/media/az01-internal/system/etc/overlay,workdir=/media/az01-internal/system/etc/.work

[Install]
WantedBy=local-fs.target
