ACTION=="remove", GOTO="audio_dsp_end"

PROGRAM=="/bin/sh -c '! ls /sys/bus/i2c/drivers/tas5805m/2-*'", GOTO="audio_dsp_end"

SUBSYSTEM=="sound", KERNEL=="card*", ATTR{id}=="JP20", TAG+="systemd", ENV{SYSTEMD_WANTS}+="dsp-config@JP20.service"
SUBSYSTEM=="sound", KERNEL=="card*", ATTR{id}=="JP21", TAG+="systemd", ENV{SYSTEMD_WANTS}+="dsp-config@JP21.service"
SUBSYSTEM=="sound", KERNEL=="card*", ATTR{id}=="NH08", TAG+="systemd", ENV{SYSTEMD_WANTS}+="dsp-config@NH08.service"
SUBSYSTEM=="sound", KERNEL=="card*", ATTR{id}=="NH10", TAG+="systemd", ENV{SYSTEMD_WANTS}+="dsp-config@NH10.service"

LABEL="audio_dsp_end"
