[Unit]
Description=Bluetooth HCI attach on %I
Wants=bluetooth.service
Before=bluetooth.service
BindsTo=dev-%i.device
After=dev-%i.device
ConditionPathExists=/lib/firmware/brcm
# Only load this service if the serial device bus is unavailable.
ConditionPathExists=!/sys/bus/serial

[Service]
Type=simple
ExecStart=/usr/bin/btattach -B /dev/ttyS0 -P bcm

[Install]
WantedBy=bluetooth.service
